In [56]:
import numpy as np
import pandas as pd

#Step 2
s1 = pd.Series(np.random.randint(low=1, high=5, size=100))
s2 = pd.Series(np.random.randint(low=1, high=4, size=100))
s3 = pd.Series(np.random.randint(low=10000, high=30001, size=100))
print(f"s1, min: {s1.min()}, max: {s1.max()}\n{s1}\n\n\
s2, min: {s2.min()}, max: {s2.max()}\n{s2}\n\ns3, min: {s3.min()}, max: {s3.max()}\n{s3}\n")

#Step 3
df1 = pd.concat([s1,s2,s3], axis=1)
print(f"df1\n{df1}\n\n")

#Step 4
df2 = pd.DataFrame({'bedrs': s1, 'bathrs': s2, 'price_sqr_meter': s3})
print(f"df2\n{df2}\n\n")

#Steps 5 and 6
#Size of dataframe shows that it has 300 rows
bigcolumn = pd.DataFrame(pd.concat([s1,s2,s3]))
print(f"\'bigcolumn\' size {len(bigcolumn)}\n{bigcolumn}\n\n")

#Step 7
bigcolumn = pd.DataFrame(pd.concat([s1,s2,s3], ignore_index=True))
print(f"\'bigcolumn\' with index adjusted\n{bigcolumn}")

s1, min: 1, max: 4
0     3
1     1
2     4
3     4
4     3
5     3
6     4
7     3
8     4
9     4
10    3
11    3
12    2
13    4
14    4
15    2
16    3
17    1
18    2
19    4
20    2
21    1
22    2
23    4
24    3
25    4
26    4
27    2
28    3
29    4
     ..
70    1
71    4
72    4
73    3
74    2
75    3
76    4
77    2
78    4
79    2
80    2
81    1
82    1
83    3
84    4
85    3
86    4
87    3
88    3
89    4
90    1
91    1
92    3
93    1
94    1
95    4
96    2
97    4
98    4
99    1
Length: 100, dtype: int32

s2, min: 1, max: 3
0     1
1     2
2     2
3     3
4     1
5     1
6     3
7     1
8     2
9     2
10    1
11    3
12    3
13    1
14    1
15    3
16    2
17    2
18    1
19    2
20    1
21    2
22    2
23    3
24    3
25    1
26    3
27    1
28    2
29    2
     ..
70    2
71    3
72    2
73    3
74    2
75    1
76    1
77    3
78    1
79    2
80    2
81    3
82    3
83    1
84    3
85    2
86    3
87    1
88    3
89    1
90    1
91    2
92    1
93    2
94    1
95    1
96    1
97    2
98    1
99    2
Length: 100, dtype: int32

s3, min: 10324, max: 29790
0     12351
1     14184
2     20594
3     27632
4     17907
5     16685
6     13360
7     13905
8     11848
9     25999
10    16090
11    14700
12    22057
13    27701
14    19471
15    29067
16    29393
17    29095
18    28106
19    26399
20    20466
21    28938
22    26528
23    28074
24    11265
25    24907
26    29579
27    11257
28    22476
29    20436
      ...
70    16395
71    27050
72    10867
73    12025
74    24463
75    24492
76    10340
77    13997
78    12937
79    23413
80    23716
81    24141
82    22112
83    20649
84    26856
85    28350
86    27905
87    21212
88    15064
89    16498
90    25297
91    22926
92    21952
93    17527
94    11182
95    29015
96    10855
97    18331
98    20051
99    20371
Length: 100, dtype: int32

df1
    0  1      2
0   3  1  12351
1   1  2  14184
2   4  2  20594
3   4  3  27632
4   3  1  17907
5   3  1  16685
6   4  3  13360
7   3  1  13905
8   4  2  11848
9   4  2  25999
10  3  1  16090
11  3  3  14700
12  2  3  22057
13  4  1  27701
14  4  1  19471
15  2  3  29067
16  3  2  29393
17  1  2  29095
18  2  1  28106
19  4  2  26399
20  2  1  20466
21  1  2  28938
22  2  2  26528
23  4  3  28074
24  3  3  11265
25  4  1  24907
26  4  3  29579
27  2  1  11257
28  3  2  22476
29  4  2  20436
.. .. ..    ...
70  1  2  16395
71  4  3  27050
72  4  2  10867
73  3  3  12025
74  2  2  24463
75  3  1  24492
76  4  1  10340
77  2  3  13997
78  4  1  12937
79  2  2  23413
80  2  2  23716
81  1  3  24141
82  1  3  22112
83  3  1  20649
84  4  3  26856
85  3  2  28350
86  4  3  27905
87  3  1  21212
88  3  3  15064
89  4  1  16498
90  1  1  25297
91  1  2  22926
92  3  1  21952
93  1  2  17527
94  1  1  11182
95  4  1  29015
96  2  1  10855
97  4  2  18331
98  4  1  20051
99  1  2  20371

[100 rows x 3 columns]


df2
    bedrs  bathrs  price_sqr_meter
0       3       1            12351
1       1       2            14184
2       4       2            20594
3       4       3            27632
4       3       1            17907
5       3       1            16685
6       4       3            13360
7       3       1            13905
8       4       2            11848
9       4       2            25999
10      3       1            16090
11      3       3            14700
12      2       3            22057
13      4       1            27701
14      4       1            19471
15      2       3            29067
16      3       2            29393
17      1       2            29095
18      2       1            28106
19      4       2            26399
20      2       1            20466
21      1       2            28938
22      2       2            26528
23      4       3            28074
24      3       3            11265
25      4       1            24907
26      4       3            29579
27      2       1            11257
28      3       2            22476
29      4       2            20436
..    ...     ...              ...
70      1       2            16395
71      4       3            27050
72      4       2            10867
73      3       3            12025
74      2       2            24463
75      3       1            24492
76      4       1            10340
77      2       3            13997
78      4       1            12937
79      2       2            23413
80      2       2            23716
81      1       3            24141
82      1       3            22112
83      3       1            20649
84      4       3            26856
85      3       2            28350
86      4       3            27905
87      3       1            21212
88      3       3            15064
89      4       1            16498
90      1       1            25297
91      1       2            22926
92      3       1            21952
93      1       2            17527
94      1       1            11182
95      4       1            29015
96      2       1            10855
97      4       2            18331
98      4       1            20051
99      1       2            20371

[100 rows x 3 columns]


'bigcolumn' size 300
        0
0       3
1       1
2       4
3       4
4       3
5       3
6       4
7       3
8       4
9       4
10      3
11      3
12      2
13      4
14      4
15      2
16      3
17      1
18      2
19      4
20      2
21      1
22      2
23      4
24      3
25      4
26      4
27      2
28      3
29      4
..    ...
70  16395
71  27050
72  10867
73  12025
74  24463
75  24492
76  10340
77  13997
78  12937
79  23413
80  23716
81  24141
82  22112
83  20649
84  26856
85  28350
86  27905
87  21212
88  15064
89  16498
90  25297
91  22926
92  21952
93  17527
94  11182
95  29015
96  10855
97  18331
98  20051
99  20371

[300 rows x 1 columns]


'bigcolumn' with index adjusted
         0
0        3
1        1
2        4
3        4
4        3
5        3
6        4
7        3
8        4
9        4
10       3
11       3
12       2
13       4
14       4
15       2
16       3
17       1
18       2
19       4
20       2
21       1
22       2
23       4
24       3
25       4
26       4
27       2
28       3
29       4
..     ...
270  16395
271  27050
272  10867
273  12025
274  24463
275  24492
276  10340
277  13997
278  12937
279  23413
280  23716
281  24141
282  22112
283  20649
284  26856
285  28350
286  27905
287  21212
288  15064
289  16498
290  25297
291  22926
292  21952
293  17527
294  11182
295  29015
296  10855
297  18331
298  20051
299  20371

[300 rows x 1 columns]